# Node.js dependencies (both backend & frontend)
**/node_modules/

# Python virtual environments & caches
**/venv/
**/__pycache__/
*.pyc

# Environment variable files (VERY IMPORTANT)
**/.env

# Build output (e.g., Vite, React, SSR)
**/dist/
**/dist-ssr/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE/editor config folders
.vscode/
.idea/



# OS-specific junk
.DS_Store
Thumbs.db

# Windows-specific
*.suo
*.user
